//1---- 5 operator in sass

// 1.equity -- == , !=
// 2.relational -- > , < , >= , <=
// 3.boolean -- and , or , not
// 4.numeric
// 5.sting

$var1: 10;
$var2: 20;

.operator {
  padding: 10px == 10px; //true
  padding: 10px != 10px; //false
  padding: arial == "arial"; // true
  padding: (10, 20, 30) == (10, 20, 30); //true
  padding: 100 > 30; //true
  padding: 30 >= 30; //true
  padding: 1000ms >= 1s; // true
  padding: 20px == 10px and arial == "arial"; // false
  padding: 20px == 10px or arial == "arial"; // true
  padding: not 10 == 10px; // false
  padding: $var1 + $var2 + px; // + , - , * , /
}

//2---- functions

$container-width: 1200;

@function half($container-width) {
  @return $container-width/2 + px;
}
@function one-third($container-width) {
  @return $container-width/3 + px;
}
@function one-forth($container-width) {
  @return $container-width/4 + px;
}

.half-width {
  width: half($container-width);
}
.one-third-width {
  width: one-third($container-width);
}
.one-forth-width {
  width: one-forth($container-width);
}

//3----inbuild functions in sass

// 1 . number
// 2 . sring
// 3 . list
// 4 . color
// 5 . selector
// 6 . introspection

.inbuild-function-number {
  margin: abs(-20px);
  margin: ceil(3.4px);
  margin: floor(3.4px);
  margin: round(2.9);
  margin: percentage(100px / 50px);
  margin: random();
  margin: comparable(10px, 10);
  margin: unit(100px);
}

.inbuild-function-string {
  margin: quote(Arial);
  margin: unquote("Arial");
  margin: to-lower-case(Arial);
  margin: to-upper-case(arial);
  margin: str-index("good morning", "g");
  margin: str-insert("niyu", "good morning", 4);
  margin: str-length("good morning");
  margin: str-slice("good morning", 2, 4);
  margin: unique-id();
}

// 4. @content directive
@mixin font() {
  font-size: 20px;
  @content;
}

.content-directive {
  @include font() {
    font-weight: 700;
  }
}

//5 . if loop

.if-loop {
  @if $var1 > 10 {
    color: red;
  } @else {
    color: blue;
  }
}

//6. for loop

@for $i from 1 through 3 {
  .for-loop-#{$i} {
    width: $i * 100px;
  }
}

// 7. each loop
@each $i in (normal, bold, italic) {
  .#{$i} {
    font-weight: $i;
  }
}

$list: ((first, bold, 10px), (second, italic, 15px));
@each $name, $style, $size in $list {
  .#{$name} {
    font-weight: $style;
    font-size: $size;
  }
}

$map: (
  one: 10px,
  two: 20px,
  three: 30px,
);
@each $key, $value in $map {
  .#{$key} {
    font-weight: $key;
    font-size: $value;
  }
}
